a {
    text-decoration: none;
    background-color: #000407; 
    color: #f4f2f2; 
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block; 
    transition: background-color 0.3s; 
  }

.character-counter-container {
    padding: 16px;
    font-family: "Roboto",sans-serif;
    text-align: center;
}
.character-counter-container h2 {
    font-size: 45px;
}

.character-counter-container textarea {
    display: block;
    width: 100%;
    height: 200px;
    border: 2px solid #141414;
    border-radius: 8px;
    padding: 25px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    resize: none;
    max-width: 800px;
    line-height: 2;
    margin: 0 auto;
}
.character-counter-container .count-btn {
    padding: 16px 48px;
    margin: 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #141314;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.character-counter-container .count-btn:hover {
    background: #001219;
}

.character-counter-container .character-count {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.character-counter-container .character-count span {
    font-size: 56px;
    font-weight: bold;
}